
  <div class="container h-100">
    <h1>Sign Up</h1>
    <div class="row h-100 justify-content-center align-items-center">
      <%= bootstrap_form_for @user, url: {action: "create"} do |f| %>
        <%= f.alert_message "Please fix the errors below." %>
        <%= f.text_field :first_name, required: true %>
        <%= f.text_field :last_name, required: true %>
        <%= f.email_field :email, required: true %>
        <%= f.password_field :password, required: true %>
        <%= f.password_field :password_confirmation,
                              label: "Confirm Password",
                              required: true %>
        <%= f.form_group do %>
          <%= f.primary "Create Account" %>
        <% end %>
      <% end %>
    </div>
  </div>
